* {
    font-family: "Franklin Gothic Medium";
    font-size: 12px;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;

    max-width: 300px !important;   
    overflow:hidden;
    width:100vw;
    height:100vh;
    max-height: 100vh;
    min-height: 100vh;
}

#mainBody{
    border: 3px ridge rgb(185, 185, 185);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.8) inset;
    background-color: rgba(40, 40, 150, 0.5);
    padding: 5px;
    /*height: 100%;
    width: 100%;  */

}

#header{
    display: inline;
}

#config input{
    float:right;
}

#ScoreLabel{
    white-space:nowrap;
    font-size: 25px;
    text-align: left;
}

#Score{
    font-size: 35px;
    padding-left:10px;
}

#pomanders td{
    width:20%;
    text-align:center;
}

#FloorLabel,
#SetLabel,
#TotalLabel{
    text-align: right;
}

#statistics th,
#statistics td,
#targetinfo th,
#targetinfo td{
    width: 25%;
    border: 1px solid rgb(124, 124, 124);
    padding-left: 3px;
    padding-right: 3px
}

#score,
#statistics,
#targetinfo,
#header{
    color: lightgray;
    font-weight: bold;            
}

#statistics,
#targetinfo{
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;   
    border-collapse: collapse;
    margin-bottom: 5px;
}

#statistics tr{
    text-align:right;
}

#targetinfo{
    margin-top: 10px;
}

#targetinfo td{
    text-align: center;
}

#TargetInformation {
    padding: 4px;
    text-align:left;
    background:rgb(0, 0, 70);
}

table{
    padding-bottom:5px;
}

th{
    text-align:left;
}

th,
#ScoreLabel,
#TargetName{
    color: rgb(247, 160, 0)
}

#ButtonInfo{
    color:white;
    background-color: rgb(0, 0, 70);
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid;
}

#saveManager{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom:5px;
}

button{
    background-color: rgb(0, 0, 70);
    color:white;
    border: 2px solid white;
    padding: 4px 4px;
    /*border-radius: 5px;*/
    text-align: center;
}

button:hover{
    background-color: white;
    color:rgb(0, 0, 70);
}

.resizeHandle {
    /*background-image: url(../img/handle.png);*/
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: content-box;
}       
