:lang(en), :lang(fr), :lang(de){
    font-family: "Franklin Gothic Medium";
    font-size: 12px;
    box-sizing: border-box;
}
:lang(ja){
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
    font-size: 10px;
    line-height: 175%;
    box-sizing: border-box;}

body, html {
    margin: 0;
    padding: 0;
    border: 0;

    /*min-width: 300px !important; 
    max-width: 300px !important;  
    
    overflow:hidden;*/
    width:100vw;
    height:100vh;
    max-height: 100vh;
    min-height: 100vh;
}

#mainBody{
    border: 2px solid rgb(0, 0, 56);
    background-color: rgba(28, 28, 28, 0.90);
    display: inline-block;
    /*width: 100%;
    
    height: 100%;
    /*position: absolute;
    top:0;
    right:0;*/

}

#targetinfo th,
#targetinfo td{
    color: white;
    align-items: center;
    text-align: center;
    /*padding-right: 2px;
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid rgb(124, 124, 124);*/
}
#AggroType{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
#TargetHPP{
    padding-left: 5px !important;
    padding-right: 10px !important;
}

#targetinfo{
    width: 100%;
}

#Stun, #StunDisabled,
#Sleep, #SleepDisabled,
#Slow, #SlowDisabled,
#Heavy, #HeavyDisabled,
#Bind, #BindDisabled,
#Resolution, #ResolutionDisabled{
    width: 25px;
    height: 25px;
}

#DangerEasy, #DangerCaution, #DangerScary, #DangerImpossible{
    width: 38px;
    height: 38px;
}

.resizeHandle {
    /*background-image: url(../img/handle.png);*/
    background-position: bottom right;
    background-repeat: no-repeat;
    box-sizing: content-box;
}       
